body
{
    background-color: #0f0f0f;
}
  
canvas
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo
{
    color:whitesmoke;
    margin-top: 10px;
    margin-left: 10px ;
	margin-right: 10px;
    text-align: center;
}

#container
{
    height: 100%;
}

.tytul
{
    color:whitesmoke;
    font-family: 'candy_cane_unregisteredRg';
    font-size: 100px;
    margin-left: auto ;
	margin-right: auto;
	text-align: center;
}

.przemieszczanie
{
    font-size: 50px;
    color:whitesmoke;
    font-family: 'candy_cane_unregisteredRg';
    text-decoration: none;
    margin: 15px;
}

.Produkty
{
    width: 60%;
    height: 300px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 50px;
    margin-top: 25px;
}
